.AppMain {
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0px;
    padding: 0px;
    position: relative;
    display: inline-flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
  }